body
{
  font-family:sans-serif;
}

img.card-img-bottom:hover
{
  filter:brightness(75%);
}
img.card-img-bottom
{
  height:200px;
  width:80%;

}
.jumbotron .display-4
{
  text-align: center;
}

.nav-link:hover {
  transition: all 0.4s;
}

.nav-link-collapse:after {
  float: right;
  content: '\f067';
  font-family: 'FontAwesome';
}

.nav-link-show:after {
  float: right;
  content: '\f068';
  font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
}
.card-body a{

}
@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    background: #343a40;
    box-sizing: border-box;
    border-top: 1px solid rgb(200, 41, 41);
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }

  .content-wrapper {
    margin-left: 190px;
  }

  .footer {
    width: calc(100% - 230px);
    margin-left: 230px;
  }

}
.card-body{
  height:200px;
  width:420px;
}
