body
{
  font-family:sans-serif;
}

img.card-img-bottom:hover
{
  filter:brightness(75%);

}
img.card-img-bottom
{
  height:200px;
  width:80%;

}
.jumbotron .display-4
{
  text-align: center;
}




/*  преимущества  */
#adv
{

    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
}
.box
{
    position: relative;
    margin: 25px 0;
}

.box-icon
{
    position: absolute;
    width:50px; height:50px;
}
.box-pic
{
  width:50px; height:50px;
}

.box-title
{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 8px;
    color: #000000;
    padding-left: 70px;
}

.box-text
{
    font-size: 14px;
    color: #68676c;
    padding-left: 70px;
    margin-bottom: 8px;
}




/*  отзывы  */
.reev
{

}
.review
{
  background: url(cav.png);
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
}

.review-top img {
    width: 90px;
    display: inline-block;
    float: left;

}

.review-top{
    font-weight:900;
    font-size:18px;

}
.review-body{
    font-style:italic;
    font-size: 18px;
}

.review-bottom {
    color: #24aa17;
}

.review-bottom i {
    color: #24aa17;
}
.navbar{
  height:80px
}
