* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(230, 251, 255, 0.66);
  font-family:sans-serif;
}
form{

}
input{
  margin:10px 0;
  padding:10px;
  width:350px;
  border: unset;
  border-bottom: 2px solid #e3e3e3;
  outline:none;
}
button{
  width:200px;
  padding:10px;
  background: #e3e3e3;
  border:unset;
  cursor:pointer;
}
a{
  color: #c8bee6;
}
.InfoMessage
{
  padding:10px;
  text-align: center;
  font-weight: bold;
}
